---
layout: default
---

<ul>
  {% for post in site.posts %}
  <li>
    {{ post.excerpt }}
    <p align=right>Postat
      {{ post.date | date: "%d" }}
      {% assign m = post.date | date: "%-m" %}
      {% case m %}
      {% when '1' %}januari
      {% when '2' %}februari
      {% when '3' %}mars
      {% when '4' %}april
      {% when '5' %}maj
      {% when '6' %}juni
      {% when '7' %}juli
      {% when '8' %}augusti
      {% when '9' %}September
      {% when '10' %}oktober
      {% when '11' %}november
      {% when '12' %}december
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </p>
  </li>
  {% endfor %}
</ul>

<p>Prenumerera på nyheter genom att lägga till <a href=feed.xml>feed.xml</a> till din nyhetsläsar-app.

<div align="right"><img src="bilder/notiser.gif" width="150" height="145"></div>
