<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Brf Vimpeln16</title>
<meta charset="utf-8">
<meta name="keywords" content="Vimpeln16, Klippgatan 16, Solna">
<link href="system/grund.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="700" height="600" align="center" cellpadding="3" bgcolor="#FFFFFF" STYLE="border: #FFCC99 solid 10px">
  <tr>
    <td align="center" valign="top"><table width="100%" border="0" cellpadding="3">
      <tr valign="top">
        <td colspan="3" align="center">
{% include meny.html %}
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center" valign="top"><img src="bilder/logo.gif" width="396" height="18"></td>
      </tr>
      <tr>
        <td colspan="3" align="center" valign="top"><img src="bilder/rule.gif" width="665" height="15"></td>
        </tr>
      <tr>
        <td><div style="column-count: 2">
          {{ content }}
        </div></td>
      </tr>
  <tr><td colspan="3"><hr>Föreslå ändringar av denna sida <a href="https://gitlab.com/brfvimpeln16/brfvimpeln16/-/edit/master/{{page.path}}">på gitlab</a></td></tr>
  </table>  </td></tr>
</table>
</body>
</html>
